{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('styles') }}/elements.css">
<link rel="stylesheet" type="text/css" href="{{ asset('styles') }}/elements_responsive.css">

{% endblock %}

{% block body %}

<div class="container" style="margin-top: 100px; text-align: center;  width: 800px;">
	

                    {% for message in app.flashes('notice') %}
                        <div class="alert alert-info" style="text-align:center">
                        {{ message }}
                        </div>
                    {% endfor %}


                    <br>

                    <div class="elements_title">Menu</div>
                    {% if user_logged_in == false %}
                    <p><div class="button button_1" style="width: 300px;"><a href="{{ path('app_login') }}">  login  <div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div></p>                
                    <p><div class="button button_1" style="width: 300px;"><a href="{{ path('register') }}">register<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div></p>
                    {% endif %}                
                    {% if user_logged_in == true %}
                    <p><div class="button button_1"style="width: 300px;"><a href="{{ path('app_series') }}">Create new series<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div></p>

                    <div id="dropdownMenuButton"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <p><div class="button button_1" style="width: 300px;" ><a href="#">Episodes<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div></P>
                    </div>
                    <div style="margin-top: -135px; margin-left: 550px;" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <p><div class="button button_1" style="width: 300px;"><a href="{{ path('upload') }}">upload episodes<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div></P>
                        <p><div class="button button_1" style="width: 300px;"><a href="{{ path('app_assign_actor_show') }}">Show episodes<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div></P>
                        <p><div class="button button_1" style="width: 300px;"><a href="{{ path('app_assign_actor') }}">Assign actor<div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div></P>	
                    </div>
                    

                    
                    
                    
                    <p><div class="button button_1" style="width: 300px;"><a href="{{ path('app_logout') }}">logout  <div class="button_arrow"><i class="fa fa-angle-right" aria-hidden="true"></i></div></a></div></p>

                    {% endif %}


</div>
{% endblock %}
