 {% extends 'base.html.twig' %}

{% block title %}Show episodes{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('styles') }}/news.css">
<link rel="stylesheet" type="text/css" href="{{ asset('styles') }}/news_responsive.css">
<style>
	.float{
		position:fixed;
		bottom:80px;
		right:40px;
	}
</style>
{% endblock %}

{% block body %}
{{ parent() }}

<div class="super_container">


	

	<!-- News -->
	<div class="news">
		<div class="container">
			<div class="row justify-content-center">
				<h3>Episodes:</h3>
			</div>
		  
		    </br>
		  
		  <table class="table">
            <thead>
                <tr>
                <th scope="col">Series</th>
                <th scope="col">Episode</th>
                <th scope="col">Character</th>
                <th scope="col">No of lines</th>
                <th scope="col">actor</th>
                <th scope="col">&nbsp;</th>                 
                </tr>
            </thead>

            <tbody>
              {%for e in episodes %}
                <tr>
                    <td>{{e.REF}}</td>
                    <td>{{e.episode_id}}</td>
                    <td>{{e.char_name}}</td>
                    <td>{{e.no_of_lines}}</td>
                    {% if e.id == episode_id %}
                        <form method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('select') }}">
                        <input type="hidden" name="char_id" value="{{ e.char_id }}">                
                            <td><select name="actor_id" class="form-select">
                            {%for a in actors %}
                                {%if e.actor_name ==  a.name %}
                                <option value="{{a.id}}" selected>{{a.name}}</option>
                                {% else %}
                                <option value="{{a.id}}">{{a.name}}</option>  
                                {% endif %}
                            {% endfor %}
                            </select></td>
                            <td><button type="submit" class="btn btn-outline-info btn-sm" name="episode_id" value="{{e.id}}">Change</button></td>   
                    {% else %}
                    <td>{{e.actor_name}}</td>
                    <td>&nbsp;</td>
                    {% endif %}
                
                </tr
              {% endfor %}  
            </tbody>
            </form>
            </table>
        <br>
		    <a href="{{ path('app_assign_actor_show') }}" class="btn btn-outline-warning btn-lg float" style="float:right;">Cancel</a>
		</div>	
	</div>

</div>

{% endblock %}

{% block javascript %}
{{ parent() }}

<script>
	$(function () {
	  $('#close').click(function () {
		window.close()
		return false
	  })
	})
</script>
{% endblock %}