 {% extends 'base.html.twig' %}

{% block title %}Show episodes{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('styles') }}/news.css">
<link rel="stylesheet" type="text/css" href="{{ asset('styles') }}/news_responsive.css">
<style>
	.float{
		position:fixed;
		bottom:80px;
		right:40px;
	}
</style>
{% endblock %}

{% block body %}
{{ parent() }}

<div class="super_container">


	

	<!-- News -->
	<div class="news">
		<div class="container">
			<div class="row justify-content-center">
				<h3>Episodes:</h3>
			</div>
		  
		    </br>
		  
		  <table class="table">
            <thead>
                <tr>
                <th scope="col">Series</th>
                <th scope="col">Episode</th>
                <th scope="col">Character</th>
                <th scope="col">No of lines</th>
                <th scope="col">actor</th>
                <th scope="col">&nbsp;</th>                 
                </tr>
            </thead>
            <tbody>
              {%for e in episodes %}
                <tr>
                <td>{{e.REF}}</td>
                <td>{{e.episode_id}}</td>
                <td>{{e.char_name}}</td>
                <td>{{e.no_of_lines}}</td>              
                {% if e.actor_name %}
                        <td>{{e.actor_name}}</td>
                        <td><a href="{{ path('app_assign_actor_change', { 'episode_id': e.id }) }}" ><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></td>   
                {% else %}
                  <td>&nbsp;</td>
                  <td>&nbsp;</td>
                {% endif %}
             
                </tr
              {% endfor %}  
            </tbody>

            </table>
        <br>
		    <a href="{{ path('app_home') }}" class="btn btn-outline-info btn-lg float" style="float:right;">Back</a>
		</div>	
	</div>

</div>

{% endblock %}

{% block javascript %}
{{ parent() }}

{% endblock %}