{% extends 'base.html.twig' %}

{% block title %}Upload{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" type="text/css" href="{{ asset('styles') }}/contact.css">
<link rel="stylesheet" type="text/css" href="{{ asset('styles') }}/contact_responsive.css">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row row-xl-eq-height">
        <div class="col-xl-3">
        </div>					
        <!-- Contact Content -->
        <div class="col-xl-6">
            <div class="contact_content">
                <div class="contact_form_container">

                    <h3 style="text-align: center">Episode file upload</h3>                
                
                    {% if errors > 0 %}
                        <h2>Validation failed</h2>
                        <ul>
                        {% for field, errorMessage in errorMessages %}
                            <li>{{ errorMessage }}</li>
                        {% endfor %}
                        </ul>
                        <br>
                        {% endif %}
                
                
                    <form enctype="multipart/form-data" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token('file') }}">
                                                
                        <div class="form-group">
                            <br>
                            <input type="file" class="form-control" id="fileUpload" name="file" />
                        </div>								
                        <br>

                        <div>
                        <p>Before uploading, check out the <a href="#" onmouseover="popUP()">file upload restrictions</a>.</p>
                        </div>

                        <br>
                        
                        <a href="{{ path('app_home') }}" class="btn btn-outline-warning btn-lg" >Cancel</a>								
                        <button type="submit" class="btn btn-outline-primary btn-lg float-right">Upload</button>
                    
                    </form>
                </div>

            </div>
        </div>
        <div class="col-xl-3">
        </div>	
    </div>
</div>            
{% endblock %}
{% block javascript %}
    {{ parent() }}

    <script>
        function popUP() {
        window.alert("file upload restrictions: \n- allowed file types: csv\n- maximum size: 1000kB\n\nFORMAT:\nserie_id,episode_id,character name,number of lines\nexample:\nP_10,101,ANNALEE,4\nP_10,101,BORIBON,7");
        }
    </script>

{% endblock %}
